<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.sdn.servlet.user.LoginServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>PymachinesServlet</servlet-name>
        <servlet-class>com.sdn.servlet.pymachine.PymachinesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PymachineInfoServlet</servlet-name>
        <servlet-class>com.sdn.servlet.pymachine.PymachineInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PyEditServlet</servlet-name>
        <servlet-class>com.sdn.servlet.pymachine.PyEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPymachineServlet</servlet-name>
        <servlet-class>com.sdn.servlet.pymachine.AddPymachineServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.sdn.servlet.vrmachines.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVrServlet</servlet-name>
        <servlet-class>com.sdn.servlet.vrmachines.AddVrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVrServlet</servlet-name>
        <servlet-class>com.sdn.servlet.vrmachines.EditVrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <servlet-class>com.sdn.servlet.vrmachines.ChangeStatusServlet</servlet-class>
    </servlet>





    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>PymachinesServlet</servlet-name>
        <url-pattern>/home/pymachines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PymachineInfoServlet</servlet-name>
        <url-pattern>/home/pymachine/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PyEditServlet</servlet-name>
        <url-pattern>/home/pymachine/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPymachineServlet</servlet-name>
        <url-pattern>/pymachine/AddPymachineServlet</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVrServlet</servlet-name>
        <url-pattern>/vrmachine/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVrServlet</servlet-name>
        <url-pattern>/vrmachine/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <url-pattern>/vrmachine/change</url-pattern>
    </servlet-mapping>
</web-app>
