<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>sdn</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>AddPymachineServlet</servlet-name>
        <servlet-class>com.sdn.servlet.Pymachine.AddPymachineServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddPymachineServlet</servlet-name>
        <url-pattern>/Pymachine/AddPymachineServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PymachinesServlet</servlet-name>
        <servlet-class>com.sdn.servlet.Pymachine.PymachinesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PymachinesServlet</servlet-name>
        <url-pattern>/Pymachine/PymachinesServlet</url-pattern>
    </servlet-mapping>
</web-app>